:root {
  --page-max-width: 970px;
  --mobile-max-width: 520px;
  --tablet-min-width: 521px;
  --tablet-max-width: 768px;
  --desktop-min-width: 769px;
  --large-desktop-min-width: 1200px;
  --layout-max-width: 1200px;
  --layout-padding: 1.5rem;
  --layout-padding-tablet: 1.5rem;
  --layout-padding-mobile: 0.75rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.layout-width-constraint {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--layout-max-width);
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}